
.brands-list {
  .slick-arrow {
    font-size: 0;
    border: none;
    width: 33px;
    height: 29px;
    cursor: pointer;
    position: absolute;
  }
  .slick-prev {
    background: url("./../images/arr-left.png");
    left: 12px;
    top: 42px;
    &:hover {
      background: url("./../images/arr-left2.png");
    }
  }

  .slick-next {
    background: url("./../images/arr-right.png");
    right: 5px;
    top: 42px;
    &:hover {
      background: url("./../images/arr-right2.png");
    }
  }
  .slick-slider {
    padding: 27px 49px 20px;
  }
}
